body {
    overflow-x: hidden;
    text-transform: uppercase;

}
.nav-menu {
    width: 98%;
    height: 112px;
    display: grid;
    align-items: center;
    border: 1px solid black;
    font-size: 14px;
    font-weight: 400;
    position: fixed;
    z-index: 3;
    background-color: white;
    margin-left: 1%;
    margin-right: 1%;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 70px;
}
.nav-img {
    width: 199.25px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
a {
    text-decoration: none;
    color: black;
}
button {
    color: white;
    border: none;
    background-color: #FB4B4D;
    height: 52px;
    text-transform: uppercase;
}
.go-back-btn {
    width: 157px;
}

.clone-btn {
    width: 144px;
}

.section.section-banner {
    width: 98%;
    position: relative;
    top: 112px;
    height: 990px;
    display: flex;
    margin-left: 1%;
    margin-right: 1%;
    border: 1px solid black;
}
.first {
    width: 50%;
}
.logos {
    width: 100%;
    height: 424.63px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-left: none;
    border-top: none;
}
.black-logo {
    position: relative;
    width: 657px;
    height: 384px;
}
.white-logo {
    position: absolute;
    width: 558px;
    height: 259px;
}
.slogan {
    display: inline-flex;
    width: 100%;
    height: 78px;
    border: 1px solid black;
    border-left: none;
    border-top: none;
    align-items: center;
    justify-content: center;
    margin-right: 1%;
}
.title {
    border: none;
    width: 800px;
}
.pepper-img {
    border: none;
}

.block-img-sauce-with-cactus {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(989px - 424.63px - 78px);
    border: 1px solid black;
    border-top: none;
    border-left: none;
    border-bottom: none;
}

.second {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: none;
}

.section-banner-title {
    display: flex;
    align-items: center;
    height: 233px;
    font-size: 58px;
    text-align: center;
    font-weight: 400;
    border-bottom: 1px solid black;
}

.img-sauce-with-hands {
    height: calc(989px - 233px);
    display: flex;
    align-items: center;
}

.section-catalog {
    border-top: none;
}

.section.section-catalog {
    width: 98%;
    position: relative;
    top: 112px;
    height: 990px;
    margin-left: 1%;
    margin-right: 1%;
    border: 1px solid black;
    border-top: none;
}

.section-catalog-title {
    display: flex;
    width: 100%;
    height: 273px;
    border-bottom: 1px solid black;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

h2 {
    width: 60%;
    font-size: 65px;
    font-weight: 400;
}

.img-decoration {
    display: flex;
    justify-content: space-between;
    padding: 1%;
}

.img-catalog {
    position: relative;
    display: flex;
    justify-content: space-around;
    bottom: 100px;
}

.taste-img {
    position: absolute;
    padding-top: 200px;
}

.card-title {
    position: absolute;
    z-index: 1;
    padding-bottom: 320px;
    text-align: center;
}

.img-card {
    display: flex;
    align-items: center;
    justify-content: center;
}

.first-string {
    font-size: 18px;
    padding-bottom: 15px;
}

.second-string {
    font-size: 32px;
}

.slogan.second {
    position: relative;
    top: 112px;
    width: 98%;
    margin-left: 1%;
    border: 1px solid black;
    border-top: none;
    flex-direction: row;
    justify-content: space-around;
}

.section.section-history {
    position: relative;
    top: 112px;
}

.img-pouring-sauce {
    position: relative;
    display: flex;
    height: 722px;
    width: 98%;
    border: 1px solid black;
    border-top: none;
    margin-left: 1%;
    margin-right: 1%;
    justify-content: center;
    align-items: center;
}

.section-history-main {
    display: flex;
    border: 1px solid black;
    border-top: none;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
}

.history {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    border-right: 1px solid black;
}

.history.second {
    border-right: none;
}

.history-first-title {
    width: 100%;
    height: 227px;
    font-size: 58px;
    font-weight: 400;
    text-align: center;
    display: flex;
    align-items: center;
}

.history-second-title {
    position: absolute;
    text-align: center;
    width: 350px;
}

.slogan.third {
    width: 98%;
    display: flex;
    position: relative;
    top: 112px;
    margin-left: 1%;
    margin-right: 1%;
    border-left: 1px solid black;
    justify-content: space-around;
}

.section.section-logos {
    display: flex;
    position: relative;
    top: 112px;
    height: 756px;
    border: 1px solid black;
    border-top: none;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
}

.section-logos-img {
    height: 100%;
    display: flex;

}

.main-logo {
    width: 98vw;
    height: 100%;
    display: flex;
    z-index: 2;
    justify-content: center;
    align-items: center;
}
.logos-img {
    width: 860px;
    height: 502px;
    position: absolute;
    display: flex;
}
.footer {
    display: flex;
    top: 112px;
    position: relative;
    height: 65px;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    border: 1px solid black;
    border-top: none;
    background: #CDFD3B;
    align-items: center;
    justify-content: space-around;
}